.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed'; 
}

/* Navbar */
#navbar {
  background: #349DFF;
  color: black;
  overflow: auto;
}

#navbar a {
  color: black;
  text-decoration: none;
  margin: 10px 5px 0 5px;
}

#navbar h1 {
  float: left;
  padding: 20px 0;
  font-size: 3rem;
  margin-left: 20px;
}

#navbar ul  {
  float: right;
  list-style: none;
}


#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 25px;
  text-align: center;
  font-size: 1.5rem;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: grey;
  color: white;
  transition: .5s;
  border-radius: 20px;
}

.logo-img {
  height: 70px;
  padding: 5px;
  float: left;
  margin: 8px 0 0 10px;
}
